<ng-template #loading>
    <mat-progress-bar mode="indeterminate"
                      color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="src.result$ | async as query else loading">
    <div class="p8"
         flexContainer
         flexMain="start"
         [flexDirection]="inlineControls ? 'row' : 'column'"
         [flexCross]="inlineControls ? 'center' : 'stretch'"
         [flexWrap]="inlineControls ? 'wrap' : 'nowrap'">
        <searchbar flexChild
                   [label]="searchLabel"
                   [minimum]="searchMin"
                   (search)="src.onSearch($event)"
                   (clear)="src.onSearch('')"></searchbar>
        <mat-paginator [class]="pageStyle"
                       [length]="query?.totalCount"
                       [pageSize]="query?.pageSize"
                       [pageSizeOptions]="src.pageSizeOptions"
                       [pageIndex]="query?.page - 1"
                       (page)="src.onPage($event)"></mat-paginator>
    </div>
    <div *ngIf="query.data?.length > 0"
         flexContainer
         [flexDirection]="direction"
         [flexMain]="main"
         [flexCross]="cross"
         [flexWrap]="wrap"
         class="p8">
        <ng-content></ng-content>
    </div>
    <p *ngIf="!(query?.data?.length > 0)"
       class="mat-subtitle-1 mx12 my4">{{emptyLabel}}</p>
</ng-container>
