div.option-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

mat-icon.mat-icon {
    display: block;
    width: auto;
    height: auto;
}

mat-icon.fa-icon {
    display: block;
    width: auto;
    height: auto;
    font-size: 126px;
    padding: 1px;
}

@media (max-width: 300) {
    div.option-grid {
        grid-template-columns: 1fr;
    }
}
