div.option-grid {
    align-items: center;
}

mat-icon.mat-icon {
    display: block;
    width: auto;
    height: auto;
}

mat-icon.fa-icon {
    display: block;
    width: auto;
    height: auto;
    font-size: 126px;
    padding: 1px;
}
